* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2; /* Gris clair */
    color: #333;
    line-height: 1.6;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  text-align: justify;
}

header {
  height: 100%;
  position: relative;
  overflow: hidden;
  background: url("./images/header_2.jpg");
  /* Image Credit: ... */
  background-size: cover;
}

header .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
header h1, header h2 {
  margin: 0;
}
header h2 {
  text-transform: uppercase;
  margin-top: -.5em;
}

header i {
  font-size: 17pt;
}

header hgroup {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  border: 5px solid #fff;
  padding: .5em 3em;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
header .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background:#333 center no-repeat;
  background-size: cover;
  z-index: 0;
  opacity: 0;  -webkit-filter: blur(4px);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.tagline {
    font-size: 24px;
}

/* Styles pour le tableau des cellules */
.table {
    display: table;
    width: 100%;
	margin : auto auto
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.cell {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 10px; /* Espace ajouté entre les cellules */
}

.box-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.box-content {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
	text-align: justify;
}

/* Styles pour le lien "En savoir plus" */
.en-savoir-plus a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: auto;
}

.en-savoir-plus a:hover {
    background-color: #0056b3;
}

.details {
}

.intervention {
}

.intervention img {
    max-width: 100%;
    border-radius: 10px;
}

.intervention h3 {
    font-size: 24px;
    margin: 10px 0;
}

.intervention p {
    font-size: 16px;
    margin: 10px 0;
}

.cours-proposes {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cours-proposes h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.section-contact {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.list {
    list-style-type: disc;
    margin-left: 20px;
}

.cell {
    display: table-cell;
    vertical-align: top;
    padding: 20px;
    border: 1px solid #ccc;
}


.box-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ccc; /* Bordure gris clair */
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
}

.select-container select {
    font-size: 16px;
    padding: 10px;
    border: none;
    background-color: #f2f2f2; /* Gris clair */
    color: #333;
}

.select-container::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.select-container:hover {
    background-color: #f2f2f2;
}


#level-select {
    font-size: 16px;
    padding: 10px;
    border: none;
    background-color: #f2f2f2;
    color: #333;
    width: 100%;
}

.level-content {
    font-size: 16px;
    margin: 10px 0;
    padding: 0 20px;
    color: #333;
}

.link-container {
    text-align: center;
    margin: 20px auto; 
    max-width: 50%;
    width: 100%;
}


.link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}

.link:hover {
    background-color: #0056b3;
}

.achievements {
    background-color: #f7f7f7;
    text-align: center;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.achievement {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.achievement img {
    /*max-width: 100%;*/
	max-height: 500px;
    border-radius: 10px;
}

.achievement h3 {
    font-size: 24px;
    margin: 10px 0;
}

.achievement p {
    font-size: 16px;
    margin: 10px 0;
}

div.lesson{
	flex: 3;
}

div.contact{
	flex: 2;
}

div.details {
	flex: 3;
}

div.learning {
	flex: 5;
}


.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
	grid-template-rows: min-content minmax(0, 1fr); /* La première ligne est en fonction du contenu, la deuxième est flexible */
}
}

.presentation {
    grid-column: 1 / 2; /* Occupe la première colonne */
    grid-row: 1 / 2; /* Occupe la première ligne */
}

.interventions {
    grid-column: 1 / 2; /* Occupe la première colonne */
    grid-row: 2 / 3; /* Occupe la deuxième ligne */
}

.carreer {
    grid-column: 2 / 3; /* Occupe la deuxième colonne */
    grid-row: 1 / 3; /* S'étend sur la première et la deuxième ligne */
}

.timeline {
  list-style: none;
  margin: 25px 0 22px;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

.timeline:after {
  border: 6px solid;
  border-top-width: 13px;
  border-color: #00637d transparent transparent transparent;
  content: "";
  display: block;
  position: absolute;
  bottom: -19px;
  left: 15px;
}

.timeline-horizontal:after {
  border-top-width: 6px;
  border-left-width: 13px;
  border-color: transparent transparent transparent #00637d;
  top: 15px;
  right: 0;
  bottom: auto;
  left: auto;
}

.timeline-horizontal .timeline-milestone {
  border-top: 2px solid #00637d;
  display: inline;
  float: left;
  margin: 20px 0 0 0;
  padding: 40px 0 0 0;
}

.timeline-horizontal .timeline-milestone:before {
  top: -22px;
  left: auto;
}

.timeline-milestone {
  border-left: 2px solid #00637d;
  margin: 0 0 0 20px;
  padding: 0 0 5px 25px;
  position: relative;
  box-sizing: border-box;
}

.timeline-milestone:before {
  border: 7px solid #00637d;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  left: -18px; /*center*/
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}

.timeline-milestone.is-completed:before {
  background-color: #00637d;
}

.timeline-milestone.is-completed:after {
  color: #FFF;
  content: "\f00c";
  display: block;
  font-family: "FontAwesome";
  line-height: 32px;
  position: absolute;
  top: 0;
  left: -18px; /*center*/
  text-align: center;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}

.timeline-milestone.is-current:before {
  background-color: #EEE;
}

.timeline-action {
  background-color: #FFF;
  padding: 12px 10px 12px 20px;
  position: relative;
  top: -15px;
}

.timeline-action .title, .timeline-action .content {
  word-wrap: break-word;
}

.timeline-action .title {
  color: #00637d;
  font-size: 18px;
  margin: 0;
}

.timeline-action .content {
  font-size: 16px;
}


.card{
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
	transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
	padding: 14px 80px 18px 36px;
	cursor: pointer;
	margin : 5px auto;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-2{
   background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-3{
    background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}


.interventions {
    position: relative;
    overflow: hidden;
}

.container-interventions {
    position: relative;
    overflow: hidden;
}


.carousel {
    display: flex;
    /*width: 300%;*/ /* 100% par diapositive (3 diapositives) */
	width: 100%;
    transition: transform 0.5s;
	
}

.slide {
    flex: 1;
    position: relative;
    /*min-width: 33.33%;*/ /* 33% par diapositive (3 diapositives) */
	min-width: 100%;
    overflow: hidden;
}

.slide-content {
    position: relative;
    width: 100%;
	
}

img {
    max-width: 100%;
	margin: auto;
    height: auto;
    display: block;
}

.arrows {
    position: absolute;
    top: 90%;
	right: 10%;
    transform: translateY(-50%);
    z-index: 999;
	
}

.prev-arrow, .next-arrow {
    font-size: 10pt;
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    position: absolute;
   
}


.prev-arrow {
    margin-right: 10px;
	right: 15%;
}

.prev-arrow:hover, .next-arrow:hover {
    background-color: #0056b3;
}




/* Réorganiser la mise en page sur les smartphones (largeur maximale : 767px) */
@media screen and (max-width: 767px) {
    .grid {
        display: flex;
        flex-direction: column;
    }

    .presentation, .timeline, .enseignements {
        width: 100%;
    }
	
	 .row {
        flex-direction: column;
    }

}

.footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}